# Meta Database Engineer Capstone Project
## Little Lemon Database Client
### By John Tu

# Setting up the MySQL connection

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "newuser", password = "L3ftF0urD3@d", db="littlelemondb")

In [4]:
print("Now using littlelemondb database.")

Now using littlelemondb database.

# Showing all tables inside the database

In [5]:
cursor = connection.cursor()

In [6]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)

In [7]:
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('deliveries',), ('menu',), ('orders',), ('ordersview',), ('staff',)]

# A query that JOINs all tables together
## Specifically, retrieve all the names and contact information from all customers with the order total greater than $60.

In [8]:
join_query = """SELECT customers.CustomerName, customers.PhoneNumber, customers.EmailAddress, orders.TotalCost
FROM customers INNER JOIN orders ON customers.CustomerID = orders.CustomerID WHERE orders.TotalCost > 60;"""
cursor.execute(join_query)

In [9]:
results = cursor.fetchall()

In [10]:
print("Showing all customers and their contact information with order total greater than $60.")

Showing all customers and their contact information with order total greater than $60.

In [12]:
for row in results:
    print("Name: {}   Phone Number: {}   Email: {}   Order Total: ${}".format(row[0], row[1], row[2], row[3]))

Name: Anna Iversen   Phone Number: 7190552422   Email: anna.iversen@inbox.com   Order Total: $178
Name: Joakim Iversen   Phone Number: 5809110094   Email: joakim.iversen@inbox.com   Order Total: $138
Name: Vanessa McCarthy   Phone Number: 2628989067   Email: vanessamccarthy@inbox.com   Order Total: $153
Name: Marcos Romero   Phone Number: 8302904223   Email: marcosr@inbox.com   Order Total: $176
Name: Hiroki Yamane   Phone Number: 2698762250   Email: yamanehiroki@inbox.com   Order Total: $171
Name: Diana Pinto   Phone Number: 8178965899   Email: dianap@inbox.com   Order Total: $194
Name: Hugo Berntsen   Phone Number: 9036217094   Email: hugob@inbox.com   Order Total: $193
Name: Lucia Sepp   Phone Number: 4076926489   Email: lucia.sepp@inbox.com   Order Total: $108
Name: Julien Bauers   Phone Number: 3216422685   Email: julienb@inbox.com   Order Total: $128
Name: Linda Atkins   Phone Number: 9365687473   Email: lindaatkins@inbox.com   Order Total: $173
Name: Edith Upton   Phone Number: 7251114382   Email: edith.upton@inbox.com   Order Total: $109
Name: Daniel Thomassen   Phone Number: 2014740093   Email: daniel.t@inbox.com   Order Total: $193

In [13]:
cursor.close()
connection.close()
print("MySQL connection is closed.")

MySQL connection is closed.